# Godot 4+ specific
.godot/
/android/
/ios/
*.translation

# C# / .NET / Visual Studio specific (Це виправить твою помилку)
.vs/
bin/
obj/
*.csproj.user
*.sln.docstates
*.pdb

# Mono-specific (якщо раптом з'являться)
.mono/
data_*/